<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-env-ref>
        <description>База данных для загрузки</description>
        <resource-env-ref-name>.apps.cloudtreasury.db</resource-env-ref-name>
        <resource-env-ref-type>java.lang.String</resource-env-ref-type>
    </resource-env-ref>
    <env-entry>
        <description>Пользователь БД</description>
        <env-entry-name>apps.cloudtreasury.db_user</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>cloudtreasury</env-entry-value>
    </env-entry>
    <env-entry>
        <description>Пароль БД</description>
        <env-entry-name>apps.cloudtreasury.db_PASSWORD</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <env-entry>
        <description>Путь к директории с шаблонами</description>
        <env-entry-name>apps.cloudtreasurytemplates.ws</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <env-entry>
        <description>Путь к директории stockvaluation</description>
        <env-entry-name>apps.stockvaluation.ws</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <env-entry>
        <description>Путь к исполняемому файлу python</description>
        <env-entry-name>apps.cloudtreasury.pythonpath</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
</web-app>